<div class="container-main">
    <div class="container-login">
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" name="" id="" placeholder="Username">
            </div>
            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" name="" id="" placeholder="Password">
            </div>
            <input class="btn" type="button" class="btn" value="Sign in">
        </div>
    </div>
</div>